<link rel="stylesheet" href="<?= URL  ?>/css/users/register.css" />

  </head>
  <body>

<form
  action="<?= URL  ?>/register/store"
  method="POST"
  class="container"
>
  <!---The big left box-->
  <div class="main-left-box">
    <span class="logo">Master<span class="sec_logo">cook</span></span>
    <div class="register-box">
      <span class="box-title">register</span>
      <?php
      if(Session::hasFlash()) {?>

      <div id="message" class="alert alert-success alert-dismissible fade show" role="alert">
        <?php Session::flash()?>
        <button id="remove_btn" type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <?php } elseif(Session::hasError()) {?>

      <div id="message" class="alert alert-danger alert-dismissible fade show" role="alert">
        <?php Session::error()?>
        <button id="remove_btn" type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <?php }elseif(Session::hasWarning()) {?>

      <div id="message" class="alert alert-warning alert-dismissible fade show" role="alert">
        <?php Session::warning()?>
        <button id="remove_btn" type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <?php } ?>

      <span class="names_input">
        <label for="first_name" class="register-info">
          <span>first name</span>
          <input
            type="text"
            name="first_name"
            id="first_name"
            placeholder="First name"
          />
        </label>
        <label for="last_name" class="register-info">
          <span>Last name</span>
          <input
            type="text"
            id="last_name"
            name="last_name"
            placeholder="Last name"
          />
        </label>
      </span>
      <label for="user_name" class="register-info">
        <span>User name</span>
        <input
          type="text"
          id="user_name"
          name="user_name"
          placeholder="User name"
        />
      </label>
      <label for="email" class="register-info">
        <span>Email</span>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="name@example.com"
        />
      </label>
      <label for="password" class="register-info">
        <span>Password</span>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </label>
      <label for="password" class="register-info">
        <span>Password</span>
        <input
          type="password"
          name="repassword"
          id="repassword"
          placeholder="Re-enter Password"
        />
      </label>
      <input type="submit" value="register" name="register" class="submit" />
    </div>
    <span class="regester_link"
      >Don't have an account?<a href="<?= URL  ?>/login">Login</a></span
    >
  </div>
</form>
